.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
}


.task-done{

  opacity: 0.5;
}

.task{
  font-weight: bold;
}
.active-filter {
  background-color: lightgreen;
}
.taskInputError{
  border: 2px solid red;
  outline: none;
}
